<nav class="site-nav">
  <ul>
    <li class="nav-home">
      <a href="/">
        {% include "../icons/cloud.svg" %}
        What?
      </a>
    </li>
    <li class="nav-tools">
      <a href="/services.html">
        {% include "../icons/toolbox.svg" %}
        Services
      </a>
    </li>
    <li class="nav-build">
      <a href="/ideas.html">
        {% include "../icons/hammer.svg" %}
        Ideas
      </a>
    </li>
    <li class="nav-resources">
      <a href="/resources.html">
        {% include "../icons/book-code.svg" %}
        Resources
      </a>
    </li>
  </ul>
</nav>